.container {
    display: flex;
    flex-wrap: wrap;
}

.cardImage>img {
    width: 100px;
    height: 100px;
}

.card {
    background-color: whitesmoke;
    color: black;
    margin: 10px;
}

.textWrap {
    padding: 10px;
}

.heading {
    color: green;
}